@import "components/ui/__variables";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.layout {
  display: flex;

  width: 100%;

  transition: 0.3s opacity;

  main {
    height: 100%;

    // width: 100%;

    animation: fadeIn 5s;
    left: 40px;
    // position: relative;

    padding: 27px 40px 0px 40px;
    // display: none;
  }

  .layout-left-side {
    // width: 100%;
    position: absolute;

    right: 40px;
  }

  .layout-right-side {
    border-left: 1px solid $white-muted-color;

    width: 40px;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    position: fixed;

    right: 0;

    div {
      width: fit-content;

      margin-left: auto;

      margin-right: auto;

      svg {
        margin-top: 10px;

        margin-bottom: 10px;

        cursor: pointer;
      }
    }
  }
}
