$color: #2b5da1;
$primary-color: #625afa;
$primary-muted-color: #004566;
$primary-variant-color: #2b5da1;
$secondary-color: #d7f7c2;
$white-color: white;
$black-color: #30313d;
$black-muted-color: #697386;
$button-width: 142px;
$button-height: 28px;
$button-radius: 4px;
$input-height: 55px;
$textarea-height: 7rem;
$textarea-width: 100%;
$cancel-color: #c50707;
$gray-color: #a6a9ae;
$gray-muted-color: #3c4257;
$white-muted-color: #e0e6eb;
$border-radius: 4px;
$card-color: #050211d2;
$small-screen: 480px;
$medium-screen: 769px;
$visa-card-color: #00579f;
$brown-color: #414552;
$purple-color: #635bff;
$green-color: #006908;
$violet-color: #6a7383;
$violet-muted-color: #687385;

:export {
  color: $color;
  primary-color: $primary-color;
  secondary-color: $secondary-color;
  button-width: $button-width;
  button-height: $button-height;
  white-color: $white-color;
  black-color: $black-color;
  input-height: $input-height;
  textarea-height: $textarea-height;
  textarea-width: $textarea-width;
  cancel-color: $cancel-color;
  gray-color: $gray-color;
  primary-muted-color: $primary-muted-color;
  white-muted-color: $white-muted-color;
  gray-muted-color: $gray-muted-color;
  card-color: $card-color;
  primary-variant-color: $primary-variant-color;
}
